<h1><%= "Invoice Number: #{@invoice.id}" %></h1>
<%= form_for @invoice, url: admin_invoice_path  do |f| %>
  <%= f.label :invoice_status, "Invoice Status:" %>
  <%= f.select(:status, Invoice.statuses.keys.map{|status|[status.capitalize, status]}) %>
  <%= f.submit "Update Invoice Status" %>
<% end %>
<p><%= "Created On: #{@invoice.created_at.strftime("%A, %B %d, %Y")}" %></p>
<p><%= "Customer: #{@invoice.customer_full_name}" %></p>

<section id="invoice_items">
  <h3>Items on Invoice</h3>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <section id= "invoice_item-<%= invoice_item.id %>">
      <p><%= "Item: #{invoice_item.item.name}" %></p>
      <p><%= "Quantity Ordered: #{invoice_item.quantity}" %></p>
      <p><%= "Price Sold At: #{number_to_currency(invoice_item.converted_price)}" %></p>
      <p><%= "Item Status: #{invoice_item.status}" %></p>
    </section>
  <% end %>
</section>

<section id="total_revenue">
  <h3>Total Revenue for Invoice</h3>
  <p>Total Invoice Revenue: <%= number_to_currency(@invoice.total_revenue / 100.0) %></p>
</section>
