<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>Merchants</h1>
<h2> <%= link_to 'New Merchant', new_admin_merchant_path %> 
<ul>
<section id="enabled_merchants">
<h3> Enabled Merchants </h3>
  <% @enabled_merchants.each do |merchant| %>
    <section id= "merchant-<%= merchant.id %>">
      <li>
        <%= link_to merchant.name, admin_merchant_path(merchant) %>
        <%= button_to (merchant.enabled? ? 'Disable' : 'Enable'), update_status_admin_merchant_path(merchant), method: :patch %>
      </li>
    </section>
  <% end %>
</ul>
</section>

<ul>
<section id="disabled_merchants">
<h3> Disabled Merchants </h3>
  <% @disabled_merchants.each do |merchant| %>
    <section id= "merchant-<%= merchant.id %>">
      <li>
        <%= link_to merchant.name, admin_merchant_path(merchant) %>
        <%= button_to (merchant.enabled? ? 'Disable' : 'Enable'), update_status_admin_merchant_path(merchant), method: :patch %>
      </li>
    </section>
  <% end %>
</ul>
</section>